extends layout

block content
  if message
    p #{message}


  .jumbotron
    .container
      a.button.btn.btn-primary(href='/books') Back to Catalog »

      h1 #{book.title}

      
      img(src=book.image, align='left', width='150', height='220', hspace='20')

      br 
      p #[strong Author(s):]
        
        - book.authors.sort((function(a, b) { let textA = a.family_name; let textB = b.family_name; return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;})) 
        each author, index in book.authors
          a(href=author.url) #{author.name}
          if index < book.authors.length - 1
            |; 
      p #[strong ISBN:] #{(book.isbn=='' ? 'No ISBN found.' : book.isbn)}
      p #[strong Category:]&nbsp;
        each val, index in book.category
          a(href=val.url) #{val.name.replace(/&#x27;/g, "'")}
          if index < book.category.length - 1
            |, 
      p #[strong Available copies:] #{book_instances.length}
      br
      br
      if currentUser && currentUser.isAdmin
        .row
          if book.email.length > 0
            p Checkout list:
            each email in book.email
              li #{email}
          br
          a.btn.btn-md.btn-primary(href=book.url+'/delete', role='button') Delete Book »
          |  
          a.btn.btn-md.btn-primary(href=book.url+'/update', role='button') Update Book »
          |  
          .container(style='text-align:right')
            if book.email.length < book.num_copies
              form(method='POST', action='')
                button.btn.btn-primary(type='submit', style='font-size:20px;') Add to Checkout List »
            else
              span.text-danger ALL COPIES CHECKED OUT
            //a.btn.btn-md.btn-primary(href=book.url+'/check-out', role='button') Add to Checkout List »

      //- h4 Copies
      //- each val in book_instances
      //-   hr
      //-   if val.status=='Available'
      //-     p.text-success #{val.status}
      //-   else if val.status=='Maintenance'
      //-     p.text-danger #{val.status}
      //-   else
      //-     p.text-warning #{val.status} 
      //-   p #[strong Imprint:] #{val.imprint}
      //-   if val.status!='Available'
      //-     p #[strong Due back:] #{val.due_back}
      //-   p #[strong Id:]&nbsp;
      //-     a(href=val.url) #{val._id}
 
      //- else
      //-   p There are no copies of this book in the library.
  .container
    p #[strong Summary:] #{(book.description===undefined ? '' : book.description.replace(/&#x27;/g, "'"))}


  //- p
  //-   form(method='POST' action='/upload' enctype='multipart/form-data')
  //-   input(type='file' accept='image/*' name='photo')
  //-   button.btn.btn-primary(type='submit' value='upload') Upload cover image