extends layout

block content

  .jumbotron
    .container
      h1= title
      br
      br
    
    .container
      form(method='POST' action='')
        label(for='title') Search by book title: 
        input#firstname.form-control(type='text' placeholder='Enter title or keywords here' name='title' required='true' value=(undefined===book ? '' : book.title))
        br
        button.btn.btn-primary(type='submit') Submit
        br
      if not_found
          | No books match your search query.

  
  .container(align='center', style='font-size:20px')
    if previous
      | Results #{previous.page*previous.limit}-#{(previous.page+1)*previous.limit}   ................................     
      a(href='books/?page'+previous.page+'&limit='+previous.limit) Previous Page
    else
      | Results 1-20   ................................          
    if previous && next
      |   ||   
    if next
      a(href='/books?page='+next.page+'&limit='+next.limit) Next Page
  ul
    //- - book_list.sort(function(a, b) {
    //-   - if(a.authors[0] && b.authors[0]){
    //-       - let textA = a.authors[0].family_name.toUpperCase(); 
    //-       - let textB = b.authors[0].family_name.toUpperCase(); 
    //-       - return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
    //-   - }
    //-   - else {
    //-     - return -1
    //-   - }
    //- -});
    - book_list.sort((function(a, b) { let textA = a.authors[0] ? a.authors[0].family_name.toUpperCase() : ''; let textB = b.authors[0] ? b.authors[0].family_name.toUpperCase() : ''; return (textA==='') ? 1 : (textB=='') ? -1 : (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}))
    hr
    each book in book_list
      .container(id="book")
        a(href=book.url)
          img(src=book.image, align="left", hspace="20", width='150', height='220')
        li(style="list-style-type: none;") 
          a(href=book.url, style={'font-size':'36px', 'color': 'black'}) #{book.title}
          br
          - book.authors.sort((function(a, b) { let textA = a.family_name; let textB = b.family_name; return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;})) 
          each author, index in book.authors.slice(0,10)
            a(href=author.url) #{author.name}
            if index < 9 && index != book.authors.length-1
              |; 
            if index===9 && book.authors.length > 10
              |...
          br
          p #{(book.description===undefined ? '' : (book.description).substr(0, 200))}
            if book.description && book.description.length > 200
              | ...
          if book.description===undefined
            br
            br
          p Available copies: #{book.num_copies-book.email.length}/#{book.num_copies}
          each val in book.category
            a(href=val.url) #{val.name}
          br
          if book.email.length > 0
            if currentUser && currentUser.isAdmin
              span.text-danger Currently checked out by
              each email in book.email
                p #{book.email}
            if !currentUser && book.email.length===book.num_copies
              span.text-danger CURRENTLY UNAVAILABLE
          //- if val.status=='Available'
          //-     span.text-success #{val.status}
          //- else if val.status=='Maintenance'
          //-     span.text-danger #{val.status}
          //- else
          //-     span.text-warning #{val.status}
          br
          br
          br
          br
        hr
    else
      p No results found.
  
  .container
    if previous
      a(href='books/?page'+previous.page+'&limit='+previous.limit) Previous Page
    if previous && next
      |   ||   
    if next
      a(href='/books?page='+next.page+'&limit='+next.limit) Next Page